<footer class="footer">
  <div class="footer-wrap">
    <section>
      <h4>О проекте KBTU Tutor</h4>
      <p>Платформа для студентов KBTU: учимся у старшекурсников и помогаем друг другу.</p>
    </section>
    <section>
      <h4>Ссылки</h4>
      <a href="#">Контакты</a>
      <a href="#">FAQ</a>
    </section>
    <section>
      <h4>Студентам</h4>
      <a routerLink="/profile">Стать тьютором</a>
    </section>
  </div>
  <p class="copyright">© 2026 KBTU Tutor. Сделано студентами для студентов.</p>
</footer>
